/* :root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

#app {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.vanilla:hover {
  filter: drop-shadow(0 0 2em #f7df1eaa);
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
}
button:hover {
  border-color: #646cff;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
} */

@font-face {
  font-family: testingFont;
  src: url('./word-font/Pokemon-GB-f48ea773.ttf');
}

body{
  background-color: #bb2727;
  /* font-family: testingFont, monospace; */
  font-family: monospace;
}

/* .testing{
  font-family: testingFont;
} */

#app{
  display: flex;
  justify-content: center;
  background-color: bisque;
  border: 2px solid black;
  border-radius: 16px;
  height: 625px;
  flex-direction: row;
  flex-wrap: wrap;
  padding-top: 16px;
  padding-bottom: 28px;
}

p{
  text-align: center;
}

.poke-component{
  display: inline-block;
  background-color: white;
  border: 2px solid black;
  height: 136px;
  border-radius: 37px;
  padding-top: 17px;
  padding-bottom: 17px;
  margin: 10px 7px;
  width: 31%;
}

.pokeball-img{
  display: block;
  margin: auto;
  width: 79%;
  padding-top: 21px;
}

.pokemon-img{
  display: block;
  margin: auto;
  width: 30%; 
}

/* img{
  padding-left: 78px;
  margin-left: 21px;
} */

img:hover{
  text-align: center;
  animation: shaking 0.5s;
  animation-iteration-count: infinite;
}
@keyframes shaking {
    
  0%{transform: translate(0px,-1px) rotate(0deg);}
  10%{transform: translate(-1px, -2px) rotate(0deg);} 
  20%{transform: translate(-3px, 0px) rotate(0deg);} 
  30%{transform: translate(3px, 2px) rotate(0deg);} 
  40%{transform: translate(1px, -1px) rotate(0deg);} 
  50%{transform: translate(-1px, 2px) rotate(0deg);} 
  60%{transform: translate(-3px, 1px) rotate(0deg);} 
  70%{transform: translate(3px, 1px) rotate(0deg);} 
  80%{transform: translate(-1px, -1px) rotate(0deg);} 
  90%{transform: translate(-1px, 2px) rotate(0deg);} 
  100%{transform: translate(-1px, -2px) rotate(0deg);} 

}

.testing{
  text-align: center;
}

/* breakpoints */



/* 640 pixels for tablet  */

@media screen and (min-width: 40rem) {
  body{
    background-color: greenyellow;
  }
}

/* 1280 pixels for desktop  */

@media screen and (min-width: 64rem) {
  body{
    background-color: #ff4e4e;;
  }
  
}

/* Big display */

@media screen and (min-width: 160rem) {
  body{
    background-color: black;
  }
  
}

/* 

sound when clicking on pokemon after clicking on pokeball

*/